In [1]:
import pandas as pd
import numpy as np
import re

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
pd.set_option('display.max_colwidth', 100)  #me muestre más caracteres por columna.

import warnings
warnings.filterwarnings('ignore')

In [2]:
act = pd.read_csv('data/actor.csv', encoding= "ISO-8859-1") 
cat = pd.read_csv('data/category.csv', encoding= "ISO-8859-1") 
fil = pd.read_csv('data/film.csv', encoding= "ISO-8859-1") 
inv = pd.read_csv('data/inventory.csv', encoding= "ISO-8859-1") 
lan = pd.read_csv('data/language.csv', encoding= "ISO-8859-1") 
old = pd.read_csv('data/old_HDD.csv', encoding= "ISO-8859-1") 
ren = pd.read_csv('data/rental.csv', encoding= "ISO-8859-1")

In [3]:
# Eliminamos la columna 'last_uptdate' de la tabla ren.

ren = ren.drop(['last_update'], axis=1)

In [4]:
# Cambiamos el tipo de dato de las columnas 'return_date' y 'rental_date'.
#ren['return_date'] = pd.to_datetime(ren['return_date'])
#ren['rental_date'] = pd.to_datetime(ren['rental_date'])

In [5]:
# Así queda la tabla ren.
ren.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

In [6]:
ren.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [7]:
# Eliminamos las columnas 'last_update'
inv = inv.drop(['last_update'], axis=1)

In [8]:
# Así queda la tabla inv.
inv.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [9]:
inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [10]:
# Hacemos varios cambios en la tabla fil.
fil.rename({'language_id': 'language'}, axis=1, inplace=True) # cambiar el nombre de la columna language
fil.rename({'original_language_id': 'original_language'}, axis=1, inplace=True) # cambiar el nombre de la columna original language
fil.language = 'English' #que todos los language sean English
fil.release_year = '' #vaciar release year porque está vacia
fil.original_language = '' #vaciar original language porque son todo nulos y querremos llenarla en el futuro.
fil = fil.drop('last_update', axis = 1) #quitamos last_update

In [11]:
fil['actors'] = '' #creamos columna vacía
def actors(peli): #creamos función que saque los actores de esa peli
    act = []
    for i in old.index:
        if old.title[i] == peli:
            name = old.first_name[i] + ' ' + old.last_name[i]
            act.append(name)
    return ', '.join(act)

In [12]:
#los introducimos por cada fila
for i in fil.index:
    fil['actors'][i] = actors(fil.title[i])

In [13]:
fil['category'] = '' #creamos columna vacía
def categ(peli):  #creamos función que saque la categoría de esa peli
    categor = ''
    for i in old.index:
        if old.title[i] == peli:
            categor = cat[cat.category_id == old.category_id[i]].name.iloc[0]
            return categor
#Introducimos la categoría en cada fila
for i in fil.index:
    fil['category'][i] = categ(fil.title[i])

In [14]:
fil.category.fillna('', inplace=True) # Rellenamos los valores vacíos de category con '' (nada).

In [15]:
fil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   film_id            1000 non-null   int64
 1   title              1000 non-null   object
 2   description        1000 non-null   object
 3   release_year       1000 non-null   object
 4   language           1000 non-null   object
 5   original_language  1000 non-null   object
 6   rental_duration    1000 non-null   int64
 7   rental_rate        1000 non-null   float64
 8   length             1000 non-null   int64
 9   replacement_cost   1000 non-null   float64
 10  rating             1000 non-null   object
 11  special_features   1000 non-null   object
 12  actors             1000 non-null   object
 13  category           1000 non-null   object
dtypes: float64(2), int64(3), object(9)
memory usage: 109.5+ KB

In [16]:
ren.customer_id.max()

597

In [17]:
# Creamos el dataframe 'cus' con los ids de todos los clientes ya existentes.
# Añadimos columnas vacías para rellenar en el futuro.
cus = pd.DataFrame({'customer_id': range(1, 598)})
cus['name'] = ''
cus['lastname'] = ''
cus['telephone'] = ''
cus['mail'] = ''

In [18]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\jelsa\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine

In [20]:
# cargar archivo de contraseñas

with open('password.txt', 'r') as file:
    
    passwd = file.read().split('\n')[0]

In [21]:
str_conn = f'mysql+pymysql://root:{passwd}@localhost:3306/blockbuster'
cursor = create_engine(str_conn)

ren.to_sql('rental',con=cursor, if_exists='replace', index=False)
inv.to_sql('inventory',con=cursor, if_exists='replace', index=False)
fil.to_sql('films',con=cursor, if_exists='replace', index=False)
cus.to_sql('customer',con=cursor, if_exists='replace', index=False)

597

In [22]:
values_fil = ', '.join(map(str, [*zip(*map(fil.get, fil))] ))
values_ren = ', '.join(map(str, [*zip(*map(ren.get, ren))] ))
values_inv = ', '.join(map(str, [*zip(*map(inv.get, inv))] ))
values_cus = ', '.join(map(str, [*zip(*map(cus.get, cus))] ))

In [23]:
sql_fil = f'INSERT INTO films VALUES {values_fil}'
sql_inv = f'INSERT INTO inventory VALUES {values_inv}'
sql_cus = f'INSERT INTO customer VALUES {values_cus}'
sql_ren = f'INSERT INTO rental VALUES {values_ren}'

In [24]:
'''
cursor.execute(sql_fil)
cursor.execute(sql_inv)
cursor.execute(sql_cus)
cursor.execute(sql_ren)
'''

'\ncursor.execute(sql_fil)\ncursor.execute(sql_inv)\ncursor.execute(sql_cus)\ncursor.execute(sql_ren)\n'

In [25]:
ren.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB